<app-navbar></app-navbar>

<section class="content">
  <div class="container-fluid">
    <div class="row m-t-sm">
      <div class="col-md-15">
        <div class="panel">
          <div class="panel-body">
            <div class="col-md-12 col-sm-12" id="form" style="display:block;">
              <div class="panel panel-filled">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12"><h5 class="m-t-xs">Ingreso de Lista de Espera</h5></div>
                  </div>
                  <form [formGroup]="listaEsperaForm" (ngSubmit)="guardarListaEspera()">
                    <div class="form-group">
                      <label>Película</label>
                      <input type="text" formControlName="pelicula" class="form-control" placeholder="Ingresar Película">
                      <div class="text-danger" *ngIf="listaEsperaForm.get('pelicula')?.hasError('required') && listaEsperaForm.get('pelicula')?.touched">
                        <span>La película <strong>es obligatoria</strong></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Socios</label>
                      <input type="text" formControlName="socios" class="form-control" placeholder="Ingresar Socios">
                      <div class="text-danger" *ngIf="listaEsperaForm.get('socios')?.hasError('required') && listaEsperaForm.get('socios')?.touched">
                        <span>Los socios <strong>son obligatorios</strong></span>
                      </div>
                    </div>
                    <div class="col-sm-12 text-right">
                      <div class="panel-body buttons-margin">
                        <button type="submit" [disabled]="listaEsperaForm.invalid" class="btn btn-w-md btn-success">Guardar</button>&nbsp;&nbsp;
                        <button class="btn btn-w-md btn-warning" routerLink="/listar-listas-espera">Cancelar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
