<app-navbar></app-navbar>

<section class="content">
  <div class="container-fluid">
    <div class="row m-t-sm">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-body">
            <div class="col-md-12 col-sm-12" id="form" style="display:block;">
              <div class="panel panel-filled">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <h5 class="m-t-xs">Lista de Socios</h5>
                    </div>
                  </div>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Directores Favoritos</th>
                        <th>Actores Favoritos</th>
                        <th>Géneros Preferidos</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let socio of listSocios">
                        <td>{{ socio.id }}</td>
                        <td>{{ socio.nombre }}</td>
                        <td>{{ socio.direccion }}</td>
                        <td>{{ socio.telefono }}</td>
                        <td>{{ socio.directoresFavoritos }}</td>
                        <td>{{ socio.actoresFavoritos }}</td>
                        <td>{{ socio.generosPreferidos }}</td>
                        <td>
                            <button class="btn btn-w-md btn-danger" (click)="eliminarSocio(socio.id)">Eliminar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
