<app-navbar></app-navbar>
<section class="content">
    <div class="container">
        <h2>Crear Préstamo</h2>
        <form [formGroup]="prestamoForm" (ngSubmit)="agregarPrestamo()" novalidate>
          <div class="form-group">
            <label for="socio">Socio</label>
            <input type="text" class="form-control" id="socio" formControlName="socio" required>
          </div>
          <div class="form-group">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" id="estado" formControlName="estado" required>
          </div>
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fecha" formControlName="fecha" required>
          </div>
          <div class="form-group">
            <label for="cintaNumero">Número de Cinta</label>
            <input type="text" class="form-control" id="cintaNumero" formControlName="cintaNumero" required>
          </div>
          <button type="submit" class="btn btn-primary">Guardar Préstamo</button>
        </form>
      </div>
      
  </section>

